<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="Syncfusion.BulletGraph.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Calculate.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Calculate.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Chart.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Chart.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Diagram.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Diagram.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.DocIO.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Edit.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Gauge.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.GridExport.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Grouping.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.HTMLUI.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.HTMLUI.windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Maps.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Mime.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.PdfToImageConverter.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.PdfViewer.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.PivotAnalysis.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.PivotChart.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.PivotTable.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Presentation.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.ProjIO.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Schedule.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Schedule.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Scripting.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfBarcode.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfSmithChart.WinForms" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Spreadsheet.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.TreeMap.Windows" version="25.1.35" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.WinForms" version="25.1.35" targetFramework="net48" />
</packages>